* {
  background-color:blue ;
}
#image-one {
  width: 300px;
  height: 300px;
  padding: 10px;
  margin-left: 100px;
}

#image-two {
  width: 300px;
  height: 300px;
  padding: 10px;
  margin-left: 100px;
}

#image-three {
  width: 300px;
  height: 300px;
  padding: 10px;
  margin-left: 100px;
}

