

body {
   background-image: url("./imgs/Bus-stop.jpg");
   background-size: 860px;
   width: fit-content;
}
title {
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 130%;
  margin: 5px, 5px, 5px, 5px;
  padding: 10px;
}


#image-one {
  width: 300px;
  height: 300px;
  padding: 10px;
  margin-left: 100px;
}

#image-two {
  width: 300px;
  height: 300px;
  padding: 10px;
  margin-left: 100px;
}

#image-three {
  width: 300px;
  height: 300px;
  padding: 10px;
  margin-left: 100px;
}

